@import '../../constants/theme-ebook.scss';

.collections {
  background-color: rgba($clr-2, 0.05);
}

.collections-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 140px auto;
  padding: 30px 0;
  width: 90%;
  height: calc(100vh - 120px);

  &--item {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    color: $clr-1;
    box-shadow: 0px 5px 10px 2px rgba($clr-2, 0.2);

    &:hover {
      cursor: pointer;
      box-shadow: 0px 5px 10px 2px rgba($clr-2, 0.5);
    }

    .title,
    .progress {
      position: absolute;
      left: 30px;
      color: rgba($clr-2, 0.9);
    }

    .title {
      top: 20px;
    }

    .progress {
      bottom: 20px;
    }

    .picture {
      position: absolute;
      height: 120px;
      right: 10px;
      bottom: 10px;
      opacity: 0.8;
    }

    #progressBar {
      height: 100%;
      background-color: $clr-white;
      border-radius: 10px 10px 0 0 ;
    }
  }
}
