<section class="collections">
  <ng-container *ngIf="collections.length > 0; else isEmptyBlock">
    <div class="collections-container">
      <div
        class="collections-container--item"
        *ngFor="let collection of collections"
        (click)="setGroupSelected(collection)">
        <h2>{{ collection.name }}</h2>
        <span>{{ collection.progress }}</span>
      </div>
    </div>
  </ng-container>
  <ng-template #isEmptyBlock>
    <div  class="collections-container--empty">
      <h2>No collection added</h2>
      <span>
        <a [routerLink]="['/home']">
          Click here
        </a>, to explore other features of the app
      </span>
    </div>
  </ng-template>
</section>
