<section class="main__our__team">
  <h3 class="main__our__team__title">OUR TEAM</h3>
  <div class="main__our__team__wrapper">
    <div class="main__our__team__people">
      <mat-card *ngFor="let contributor of contributors" class="main__our__team__people__card">
        <div class="main__our__team__people__photo">
          <img src="../../../assets/images/person_pic.jpeg" alt="contributor_photo" />
        </div>
        <mat-card-title class="main__our__team__people__name">{{contributor.name}}</mat-card-title>
        <mat-card-subtitle class="main__our__team__people__position">{{contributor.position}}</mat-card-subtitle>
        <p class="main__our__team__people__contribution">{{contributor.contribution}}</p>
        <div class="main__our__team__people__github">
          <a href="{{contributor.github}}">
            <img src="../../../../assets/images/github_icon.png" alt="github_icon" />
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</section>
