.auth-page {
  width: 100%;
  display: flex;
  align-items: center;

  &__wrapper {
    width: 100%;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  input {
    margin: 10px;
  }

  .auth-link {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
}
