<section class="ebook-settings">
  <h1>Settings</h1>
  <form #settingsForm="ngForm" (ngSubmit)="onSubmit(settingsForm)">
    <div *ngIf="isUserAuthenticated">
      <label for="fname">Name</label>
      <input type="text" id="fname" name="firstname" placeholder="UserName" />
    </div>
    <div *ngFor="let itembtn of userBookSettings.buttonOptions">
      <input type="checkbox" name="buttonOptions" [(ngModel)]="itembtn.checked" />{{ itembtn.label }}
    </div>
    <h2>Info about word</h2>
    <div *ngFor="let itemword of userBookSettings.wordOptions">
      <input type="checkbox" name="wordOptions" [(ngModel)]="itemword.checked" />{{ itemword.label }}
    </div>
    <input type="submit" value="Save settings" class="btn" />
  </form>
</section>
