<div>
  <button mat-icon-button [matMenuTriggerFor]="dotMenu" aria-label="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #dotMenu="matMenu" xPosition="before">
    <button mat-menu-item [routerLink]="['home']" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>home</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="ebook">
      <mat-icon>book</mat-icon>
      <span>ebook</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="games">
      <mat-icon>games</mat-icon>
      <span>games</span>
    </button>
    <button mat-menu-item [routerLink]="['statistics']" routerLinkActive="active">
      <mat-icon>graphic_eq</mat-icon>
      <span>statistics</span>
    </button>
    <button mat-menu-item [routerLink]="['auth']" routerLinkActive="active" *ngIf="!this.isUserAuthenticated">
      <mat-icon>account_circle</mat-icon>
      <span>sign in</span>
    </button>
    <button mat-menu-item [routerLink]="" *ngIf="this.isUserAuthenticated" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>sign out</span>
    </button>
  </mat-menu>
  <mat-menu #ebook="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="ebookCollection">collections</button>
    <button mat-menu-item [matMenuTriggerFor]="ebookVocabulary">dictionary</button>
    <button mat-menu-item>Settings</button>
  </mat-menu>
  <mat-menu #games="matMenu" xPosition="before">
    <button mat-menu-item routerLink='games/savannah'>Savannah</button>
    <button mat-menu-item routerLink='games/audiocall'>Audiocall</button>
    <button mat-menu-item routerLink='games/sprint'>Sprint</button>
    <button mat-menu-item>Match Pairs</button>
  </mat-menu>
  <mat-menu #ebookCollection="matMenu" xPosition="before">
    <button mat-menu-item>Collection 1</button>
    <button mat-menu-item>Collection 2</button>
    <button mat-menu-item>Collection 3</button>
    <button mat-menu-item>Collection 4</button>
    <button mat-menu-item>Collection 5</button>
    <button mat-menu-item>Collection 6</button>
  </mat-menu>
  <mat-menu #ebookVocabulary="matMenu" xPosition="before">
    <button mat-menu-item>Learning words</button>
    <button mat-menu-item>Difficult words</button>
    <button mat-menu-item>Removed words</button>
  </mat-menu>
</div>
