<section class="auth-page">
  <div class="auth-page__wrapper">
    <mat-card>
      <form #authForm="ngForm" (submit)="onSubmit(authForm)">
        <mat-form-field>
          <input matInput name="name" type="text" placeholder="Name" ngModel #nameInput="ngModel" required />
          <mat-error *ngIf="nameInput.invalid">Please enter a valid name.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="email" type="email" placeholder="Email" ngModel #emailInput="ngModel" required email />
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="password"
            type="password"
            placeholder="Password"
            ngModel
            #passwordInput="ngModel"
            required
          />
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button type="submit" [disabled]="authForm.invalid">Sign Up</button>
        <div class="auth-link">
          <a [routerLink]="['/auth']">Log In</a>
        </div>
      </form>
    </mat-card>
  </div>
</section>
<app-footer></app-footer>
