<section class="main-page">
  <div class="main-page__wrapper">
    <div class="main-page__promo">
      <div class="main-page__promo__titles">
        <h4 class="main-page__promo__titles__sub-title">The best choice</h4>
        <h2 class="main-page__promo__titles__title">Be easy & learn English</h2>
        <div class="main-page__promo__titles__description">
          You will find easiest and most practical way to learn English here.
        </div>
      </div>
      <button mat-flat-button color="primary" class="main-page__button">
        Sign up
      </button>
    </div>
    <div class="main-page__pic">
      <img src="../../../../assets/images/main_page.svg" alt="learn_english" />
    </div>
  </div>
  <div class="main-page__video">
    <div class="main-page__video__wrapper">
      <iframe
        class="main-page__video__element"
        src="https://www.youtube.com/embed/VeDh-lBCgh0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</section>

<app-team></app-team>

<section class="main-page__advantages">
  <h3 class="main-page__advantages__title">OUR ADVANTAGES</h3>
  <div class="main-page__advantages__items">
    <div class="main-page__advantages__item">
      <div class="main-page__advantages__item__icon">
        <img
          src="../../../../assets/images/personalized_program_icon.svg"
          alt="personalized_program"
        />
      </div>
      <h3 class="main-page__advantages__item__title">
        Personalized learning program
      </h3>
      <div class="main-page__advantages__item__description">
        <p class="main-page__advantages__item__description-text">
          Learn with a program created by experts in linguistics
        </p>
      </div>
    </div>

    <div class="main-page__advantages__item">
      <div class="main-page__advantages__item__icon">
        <img
          src="../../../../assets/images/statistics_icon.svg"
          alt="statistics"
        />
      </div>
      <h3 class="main-page__advantages__item__title">Statistics</h3>
      <div class="main-page__advantages__item__description">
        <p class="main-page__advantages__item__description-text">
          Track your progress and enjoy the results
        </p>
      </div>
    </div>

    <div class="main-page__advantages__item">
      <div class="main-page__advantages__item__icon">
        <img src="../../../../assets/images/gaming_icon.svg" alt="gaming" />
      </div>
      <h3 class="main-page__advantages__item__title">Learn while playing</h3>
      <div class="main-page__advantages__item__description">
        <p class="main-page__advantages__item__description-text">
          Gamification has proven to be effective for all ages
        </p>
      </div>
    </div>

    <div class="main-page__advantages__item">
      <div class="main-page__advantages__item__icon">
        <img
          src="../../../../assets/images/different_appr_icon.svg"
          alt="personalized_program"
        />
      </div>
      <h3 class="main-page__advantages__item__title">
        Different approaches to learning
      </h3>
      <div class="main-page__advantages__item__description">
        <p class="main-page__advantages__item__description-text">
          You can read or play or listen speech on the way
        </p>
      </div>
    </div>
  </div>
</section>
