<mat-dialog-content class="mat-typography">
  <div class="settings__wrapper">
    <h1 class="settings__title">НАСТРОЙКИ</h1>
    <section class="settings__data">
      <mat-checkbox
        ><div class="settings__text">
          Отображать в списке слов перевод изучаемого слова
        </div>
      </mat-checkbox>
      <mat-checkbox class="example-margin"
        ><div class="settings__text">
          Отобрать в списке слов перевод примеров предложений
        </div></mat-checkbox
      >
      <mat-checkbox class="example-margin"
        ><div class="settings__text">
          Отображать кнопку 'Сложные слова'
        </div></mat-checkbox
      >
      <mat-checkbox class="example-margin"
        ><div class="settings__text">
          Отображать кнопку 'Удаленные слова'
        </div></mat-checkbox
      >
    </section>
  </div>
</mat-dialog-content>
