.settings__data {
  display: flex;
  flex-direction: column;
}

.settings__wrapper {
  padding: 20px;
}

.settings__title {
  text-align: center;
}

.mat-checkbox {
  margin: 10px 10px 10px 20px;
  font-size: 18px;
}

.settings__text {
  margin-left: 10px;
}
