<mat-tab-group mat-stretch-tabs class="tab-group mat-elevation-z4" animationDuration="1500ms">
  <mat-tab label="Learning words">
    <div class="tab">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, atque itaque ad possimus exercitationem id eos
      temporibus velit. Quam atque facere dolorum voluptates. Fugit consequatur enim voluptatem repudiandae quo tenetur!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat necessitatibus dolorem ut, totam iste unde quas
      nemo molestiae est minima aspernatur quia porro ratione cumque dolores nesciunt ex qui illo!
    </div>
    <!-- <app-word-list></app-word-list> -->
  </mat-tab>
  <mat-tab label="Difficult words">
    <div class="tab">
      <!-- <app-word-list></app-word-list> -->
    </div>
  </mat-tab>
  <mat-tab label="Deleted words">
    <div class="tab">
      <!-- <app-word-list></app-word-list> -->
    </div>
  </mat-tab>
</mat-tab-group>
<app-footer></app-footer>
