@import '../../../../variables';
@import '../../constants/theme-ebook.scss';

.tab-group {
  width: 90%;
  height: 100%;
  min-height: calc(100vh - 200px);
  display: block;
  margin: 40px 50px;
 }

.tab {
  margin: 20px;
}

.words-conteiner {
  position: absolute;
  top: 180px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 3rem;
  overflow-x: hidden;

  &__item {
    display: block;
    padding: 20px 5px 20px 20px;
    width: 80%;
    max-width: 1200px;
    border: 0px solid $accent_color;
    @media (max-width: 800px) {
      width: 85%;
      padding: 20px 5px;
    }
  }

  &__item {
    border-bottom:  1px solid $main_gray_color;
  }

  &__item:hover {
    box-shadow:
    -13px 0 15px -13px $accent_color,
    13px 0 15px -13px $accent_color,
    0 0 40px $main_gray_color inset;
  }



  // &__empty {
  //   display: block;
  //   font-family: 'Trebuchet MS';
  //   text-align: center;
  //   margin: 64px 0;
  //   h2 {
  //     font-size: 32px;
  //     color: darken($color: #c9dff2, $amount: 10%)
  //   }
  // }
}
.game-nav {
  position: fixed;
  top: 150px;
  right: 0;
}

.ebook-header {
  position: fixed;
  top: 90px;
  margin: 0 30p;
  width: 100%;
  background-color: rgba($clr-white, 1);
  z-index: 15;
  &__title {
      position: absolute;
      top: 85px;
      left: 180px;
      color: $main_blue;
      h1 {
        font-size: 28px;
      }
      .settings-btn {
        position: absolute;
        top: 5px;
        left: 170px;
        &:hover{
          cursor: pointer;
          filter: drop-shadow(0 0 0.1rem $main_blue);
        }
      }
  }
}
