$main_dark_color: #313237;
$main_gray_color: white;
$main_blue: lighten(#303F77,10);
$blue_color:lighten(#303F77,10);
$accent_color: #ed675b;
$bg_color:#f19a92;
$margin_after_title: 4rem;
$margin_after_section: 8rem;
