$main_dark_color: #313237;
$main_gray_color: #c7c7ca;
$main_blue: #389aa3;
$blue_color:#79c7d1;
$accent_color: #ed675b;
$bg_color:#f19a92;
$error_color: #dc3545;
$success_color: #28a745;
$white_color: #ffffff;
$margin_after_title: 4rem;
$margin_after_section: 8rem;
