/* You can add global styles to this file, and also import other style files */
@import "src/variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container {
  color: $white_color;

  &.green-snackbar {
    background-color: $success_color;
  }
  &.red-snackbar {
    background-color: $error_color;
  }
}

