<nav>
  <a [routerLink]="['main']" routerLinkActive="active">Main</a>
  <a [routerLink]="['auth']" routerLinkActive="active">Login</a>
  <a [routerLink]="['ebook']" routerLinkActive="active">Ebook</a>
  <a [routerLink]="['games/savannah']" routerLinkActive="active">Savannah</a>
  <a [routerLink]="['games/audiocall']" routerLinkActive="active">Audiocall</a>
  <a [routerLink]="['games/sprint']" routerLinkActive="active">Sprint</a>
  <a [routerLink]="['statistics']" routerLinkActive="active">Statistics</a>
</nav>

<div>app component works!!!</div>

<router-outlet></router-outlet>
