@import "src/variables";

:host {
  color: $main_dark_color;
  font-size: 1rem;
}

.main {
  padding: 2rem 6rem;
  min-height: 100vh;
  height: 100%;
  transition: padding 1s;
}

.spinner {
  display: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .main {
    padding: 1rem 2rem;
    transition: padding 1s;
  }
}