@import "src/variables";

.logo-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.logo {
  height: 50px;
  width: 100%;
}

.logo-title {
  font-size: 32px;
  line-height: 50px;
  color: $main_blue;
}
