@import "src/variables";

.logo-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-container:active,
.logo-container:focus {
  outline: none;
}

.logo-container:focus {
  outline: 0px solid transparent
}

.logo {
  height: 40px;
  margin-top: 10px;
}

.logo-title {
  font-size: 32px;
  line-height: 50px;
  color: $main_blue;
  margin-top: 8px;
}
