<mat-toolbar class="menu__wrapper">
  <div class="logo-wrapper">
    <app-logo routerLink="home"></app-logo>
  </div>
  <div class="main-menu">
    <button class="btn" mat-button routerLink="ebook/group">ebook</button>
    <button class="btn" mat-button routerLink="ebook/vocabulary">vocabulary</button>
    <button class="btn" mat-button [matMenuTriggerFor]="games">games</button>
    <mat-menu #games="matMenu">
      <button mat-menu-item (click)="goToPage($event)" routerLinkActive="active" data-path="savannah">savannah</button>
      <button mat-menu-item (click)="goToPage($event)" routerLinkActive="active" data-path="audiocall">audiocall</button>
      <button mat-menu-item (click)="goToPage($event)" routerLinkActive="active" data-path="sprint">sprint</button>
      <button mat-menu-item (click)="goToPage($event)" data-path="sprint">other game</button>
    </mat-menu>
    <button class="btn" mat-button routerLink="statistics">statistics</button>
  </div>
  <div class="account-wrapper">
    <img
      class="account-icon"
      src="../../../assets/user.svg"
      alt="user-account"
    />
    <app-dot-menu></app-dot-menu>
  </div>
</mat-toolbar>
