<div>
  <div>
    <p>date: {{ statistic.date | date: 'shortDate' }}</p>
    <p>words: {{ statistic.learnedWords }}</p>
    <div *ngFor="let game of games">
      <table>
        <tr>
          <th>Name</th>
          <th>Winrate</th>
          <th>Streak</th>
          <th>RightWords</th>
        </tr>
        <tr>
          <td>{{ game.name }}</td>
          <td>{{ game.winrate }}</td>
          <td>{{ game.streak }}</td>
          <td>{{ game.rightWords }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
