.statistic-page__short{
  text-align: center;
  padding: 10px;
}

.short-table{
  display: flex;
  flex-direction: column;
  &__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    p{
      width: 100%;
      text-align: center;
    }
  }
  &__title{
    font-weight: bold;
  }
}
