@import "src/variables";

.main__our_team {
  &__wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 254, 254, 0.993), rgba(255, 255, 255, 0.2)), url(../../../assets/images/our_team_bg.jpg) no-repeat center center;
  }

  &__title {
    font-size: 1.4rem;
    color: $main_blue;
    margin-bottom: 4rem;
    font-weight: 500;
  }

  &__people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .group_1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .medium {
        right: 80px;
      }
    }

    .group_2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      .first {
        right: 80px;
        top: -60px
      }

      .second {
        left: 120px;
        bottom: 120px
      }

      .third {
        left: 80px;
      }

      .fourth {
        left: 80px;
        bottom: 90px
      }

      .group_3 {
        display: flex;
        justify-content: space-around;
        gap: 80px;
      }
    }

    &__card {
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .1rem;
      border-radius: 50%;
    }

    &__photo {
      width: 40px;
      height: 40px;
      margin: 16px 0;

      img {
        width: 100%;
      }
    }

    &__name {
      color: $blue_color;
      font-size: 1rem;
    }

    &__position {
      color: $accent_color;
    }

    &__github {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
