.start {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 130px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  transform: translateX(-50%);
  animation: opac 5s linear;
  animation-fill-mode: forwards;
}

.start__colored-blocks {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 150px;
  height: 100%;
  margin-left: -80px;
  padding: 10px;
  border-radius: 20px;
  perspective: 1000px;
  animation: startAnim 4s ease-in-out, contAnim 4s;
  animation-fill-mode: forwards;
}

.start__colored-blocks-rotater {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  animation: rotation 1.3s linear infinite;
}

.start__colored-blocks-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #32386d;
  border-radius: inherit;
}

.start__colored-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  transform-origin: 0 0;
}

.start__colored-block:nth-child(1) {
  transform: rotate(0deg) skewX(-30deg);
  background-color: #369a7e;
}

.start__colored-block:nth-child(2) {
  transform: rotate(120deg) skewX(-30deg);
  background-color: lightcoral;
}

.start__colored-block:nth-child(3) {
  transform: rotate(240deg) skewX(-30deg);
  background-color: gold;
}

.start__inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.start__numbers {
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -42px;
  margin-top: -45px;
}

.start__numbers-path {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 518.055065155;
  stroke-dashoffset: 0;
  animation: numAnim 4s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.start__text {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 150px;
  height: 100%;
  opacity: 0;
  margin-left: -150px;
  text-align: center;
  line-height: 140px;
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  transform: translateX(10px);
  animation-fill-mode: forwards;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes contAnim {
  95% {
    width: 150px;
    margin-left: -80px;
  }

  96%,
  100% {
    margin-left: -150px;
    width: 300px;
  }
}

@keyframes startAnim {
  15% {
    border-radius: 20px;
    transform: rotate(0);
  }

  30%,
  43% {
    border-radius: 50%;
    transform: rotate(360deg);
  }

  52%,
  65% {
    border-radius: 0;
    transform: rotate(720deg);
  }

  78%,
  90% {
    border-radius: 50%;
    transform: rotate(1080deg);
  }

  100% {
    border-radius: 20px;
    transform: rotate(1440deg);
  }
}

@keyframes numAnim {
  15% {
    stroke-dasharray: 100, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }

  25%,
  41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }

  53%,
  66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }

  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }

  88%,
  100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }

  92% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes opac {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
