.game__select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #fff;
  &__form-field{
    width: 2rem;
  }
}

.mat-select-arrow, .mat-select {
  color: #fff;
}

.mat-select-value-text{
  color: #fff;
}

.mat-focused .mat-form-field-label{ color: #fff; } .mat-focused .mat-form-field-underline .mat-form-field-ripple{ background: #79c7d1; }
