<div>
  <div class="game__select-container">
    <mat-label>Pick group:</mat-label>
    <mat-form-field
      appearance="outline"
      class="game____select-container__form-field"
    >
      <mat-select
        [(ngModel)]="groupNumber"
        class="game__select"
        (change)="groupNumberChangeHandler()"
      >
        <mat-option *ngFor="let groupsNumber of groups" [value]="groupsNumber">
          {{ groupsNumber + 1 }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label>Pick page:</mat-label>
    <mat-form-field appearance="outline">
      <mat-select
        [(ngModel)]="page"
        class="game__select"
        (change)="pageChangeHandler()"
      >
        <mat-option *ngFor="let page of pages" [value]="page">{{
          +page + 1
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
