@import '../../../../variables';
@import '../../constants/theme-ebook.scss';

.words-conteiner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-top: 3rem;
  &__item {
    display: block;
    padding: 20px 5px 20px 20px;
    width: 95%;
    max-width: 1200px;
    border: 0px solid $accent_color;
    @media (max-width: 800px) {
      padding: 20px 5px;
    }
  }

  &__item {
    border-bottom:  1px solid $main_gray_color;
  }

  &__item:hover {
    box-shadow:
    -13px 0 15px -13px $accent_color,
    13px 0 15px -13px $accent_color,
    0 0 40px $main_gray_color inset;
  }

  &__empty {
    display: block;
    font-family: 'Trebuchet MS';
    text-align: center;
    margin: 64px 0;
    h2 {
      font-size: 32px;
      color: darken($color: #c9dff2, $amount: 10%)
    }
  }
}

.center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
