<div class="game-wrapper">
  <app-screen-size-changer></app-screen-size-changer>
  <div class="center" *ngIf="!isGameStart">
    <h2 class="game-title">Match Pairs Game</h2>
    <div class="game-logo center"></div>
    <h3 class="game-subtitle">Match words with their translations. Good luck!</h3>
    <app-game-start-settings class="game-settings" [groupsAmount]='groupsAmount' [pagesAmount]='pagesAmount'
      (groupNumberChange)='onChooseGroup($event)' (pageChange)='onChoosePage($event)'>
    </app-game-start-settings>
    <button class="play-button" mat-raised-button color="primary" (click)="getWords()">Play</button>
  </div>
  <mat-spinner *ngIf="isGameStart && !sortedWords" class="spinner"></mat-spinner>
  <div *ngIf="sortedWords && !isGameEnd" class="game-words">
    <div class="game-words-row">
      <button class="word-card" (click)="cardClicked(sortedWord)"
        *ngFor="let sortedWord of sortedWords | randomize: currentIndex:currentIndex + gameWordsState.minAmout">
        <p>{{ sortedWord.word }}</p>
      </button>
    </div>
    <div class="game-words-row">
      <button class="word-card translation" (click)="cardClicked(sortedWord)"
        *ngFor="let sortedWord of sortedWords | randomize: currentIndex:currentIndex + gameWordsState.minAmout">
        <p>{{ sortedWord.wordTranslate }}</p>
      </button>
    </div>
  </div>
  <div *ngIf="isGameEnd">
    <app-finish-menu [gameResultWords]="gameResultWords" [correctGamePercent]="correctGamePercent"></app-finish-menu>
  </div>
</div>