@import "src/variables";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: 
    linear-gradient(to bottom right, $main_blue 10%, transparent), 
    radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.2) 70%, transparent 50%) center center/10px 10px, 
    linear-gradient(to bottom right, $blue_color, $accent_color);
}

.game-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
