@import "src/variables";

.game-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 20px;
}

.game-settings {
  width: max-content;
}

.play-button{
  min-width: 100px;
  margin-top: 10px;
  background-color: $accent_color;
}

.spinner {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.game-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.game-words-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

button {
  border: 0;
  padding: 0;
}

.word-card {
  min-width: 100px;
  max-width: 240px;
  padding: 20px;
  overflow-wrap: break-word;
  margin: 10px;
  border-radius: 12px;
  background-color: darken($blue_color,10%);;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  box-shadow: 10px 10px 20px -18px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.word-card:hover {
  transform: scale(1.02);
  opacity: 0.8;
}

p {
  font-size: large;
  color: white;
  margin: auto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.translation {
  background-color: lighten($accent_color,5%);;
}

.game-logo {
  background: url('/assets/games/pairs/pairs-logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
