@import "src/variables";
.savannah__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($blue_color, $accent_color);
  .game__menu {
    padding-top: 30px;
    text-align: center;
  }

  .game__title {
    font-size: 2rem;
    color: #fff;
  }
  .game__subtitle{
    color: #fff;
  }

  .game__play-button{
    align-self: center;
    justify-self: center;
    color: $blue_color;
    border: solid 1px $blue_color;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .savannah__health {
    position: absolute;
    top: 15px;
    right: 5px;
  }

  .savannah__control-panel {
    display: flex;
    justify-content: flex-end;
  }

  .savannah__body {
    min-height: calc(100vh - 110px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .savannah__question {
    position: absolute;
    left: 50%;
    font-size: 2rem;
    color:#fff;
    transform: translateX(-50%);
  }

  .savannah__answer {
    margin: 5px 5px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    transition: 0.3s ease-in all;
    border: solid 1px #fff;
    color: #fff;
    &:hover {
      color: $blue_color;
      border: solid 1px $blue_color;
    }
  }
}

@media (max-width: 768px ) {
  .savannah__answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



