<div class="item" appShowOverBtn>
  <div class="item__image">
    <img [src]=[item.image] alt="{{ item.word }}" />
  </div>
  <div class="item__description">
    <span class="title">
      <strong>{{ item.word }}</strong> {{ item.transcription }} -
      <strong *ngIf="optionsChecked.translationOfWord">{{ item.wordTranslate }}</strong>
    </span>
    <span *ngIf="optionsChecked.examplesOfUse"> {{ item.textMeaning }} </span>
    <span *ngIf="optionsChecked.translationOfExamples"> {{ item.textMeaningTranslate }} </span>
    <span *ngIf="optionsChecked.examplesOfUse"> {{ item.textExample }} </span>
    <span *ngIf="optionsChecked.translationOfExamples"> {{ item.textExampleTranslate }} </span>
  </div>
  <div class="item__buttons">
    <img
      src="../../../../assets/ebbok/speechIco.svg"
      alt="speech"
      (click)="playSound(item.audio)"
      class="action-btn" />
    <img
      src="../../../../assets/ebbok/difficultIco.svg"
      alt="hard"
      data-action="hard"
      *ngIf="optionsChecked.isDifficult"
      (click)="changeAction('hard', item.id)"
      class="action-btn" />
    <img
      src="../../../../assets/ebbok/deleteIco.svg"
      alt="removed"
      data-action="removed"
      *ngIf="optionsChecked.isRemoted"
      (click)="changeAction('removed', item.id)"
      class="action-btn" />
  </div>
</div>
