@import '../../../../variables';

.hard {
  color: #ed675b;
}
.visible {
  display: inline-block;
}

.item {
  position: relative;
  height: auto;
  min-height: 110px;
  padding-right: 50px;

  &__buttons {
    position: absolute;
    margin-right: 5px;
    top: 10px;
    right: 5px;
    width: 35px;

    img:hover{
      cursor: pointer;
      filter: drop-shadow(0 0 0.3rem $main_blue);
    }
  }

  .circle {
    float: left;
    margin-right: 20px;
    // shape-outside: circle(50%);
    height: 120px;
  }
  span {
    display: block;
    width: inherit;
    font-size: 14px;
    font-family: 'Trebuchet MS';
    color: $main_dark_color;
  }

  span:nth-child(2) {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: $main_blue;
  }

  span:last-child {
    font-weight: 200;
  }

  span .label-hard {
    display: none;
    width: 10px;
    margin-right: 10px;
    padding: 1px 9px;
    color: #ed675b;
    border-radius: 50%;
    border: 2px solid #ed675b;
  }

  .action-btn {
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
  }

  button:focus,
  input:focus {
    outline: 0;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .item {
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    margin-top: 6px;
    .circle {
      clear: left;
      display: block;
      width: auto;
      height: 120px;
      margin-left: 20px;
    }
    &__buttons {
      top: 10px;
      right: 0;
    }
  }
}
