<div class="item" appShowOverBtn>
  <div class="item__image">
    <img [src]=[item.image] alt="{{ item.word }}" />
  </div>
  <div class="item__description">
    <span class="title">
      <strong>{{ item.word }}</strong> {{ item.transcription }} -
      <strong>{{ item.wordTranslate }}</strong>
    </span>
    <span>
      {{ item.textMeaning }}
    </span>
    <span>
      {{ item.textMeaningTranslate }}
    </span>
    <span>
      {{ item.textExample }}
    </span>
    <span>
      {{ item.textExampleTranslate }}
    </span>
  </div>
  <div class="item__buttons">
    <img
      src="../../../../assets/ebbok/speechIco.svg"
      alt="speech"
      (click)="playSound(item.audio)"
      class="action-btn" />
    <img
      src="../../../../assets/ebbok/difficultIco.svg"
      alt="hard"
      data-action="hard"
      (click)="changeAction('hard', item.id)"
      class="action-btn" />
    <img
      src="../../../../assets/ebbok/deleteIco.svg"
      alt="removed"
      data-action="removed"
      (click)="changeAction('removed', item.id)"
      class="action-btn" />
  </div>
</div>
