<div class="footer__wrapper">
  <div class="footer__team">
    <div class="footer__team-text">Made by:</div>
    <div class="footer__list-wrapper">
      <ul class="footer__list">
        <li>
          <a href="http://github.com/whattablackhole/">
            <img
              src="https://avatars.githubusercontent.com/whattablackhole"
              alt="github avatar"
              class="footer__list-item"
          /></a>
        </li>
        <li>
          <a href="http://github.com/Anntol">
            <img src="https://avatars.githubusercontent.com/Anntol" alt="github avatar" class="footer__list-item"
          /></a>
        </li>
        <li>
          <a href="http://github.com/whattablackhole/coriander31415">
            <img
              src="https://avatars.githubusercontent.com/coriander31415"
              alt="github avatar"
              class="footer__list-item"
          /></a>
        </li>
        <li>
          <a href="https://github.com/EvilKami7">
            <img src="https://avatars.githubusercontent.com/EvilKami7" alt="github avatar" class="footer__list-item"
          /></a>
        </li>
        <li>
          <a href="http://github.com/kastrubait/">
            <img src="https://avatars.githubusercontent.com/kastrubait" alt="github avatar" class="footer__list-item"
          /></a>
        </li>
        <li>
          <a href="http://github.com/superpuper777/">
            <img
              src="https://avatars.githubusercontent.com/superpuper777"
              alt="github avatar"
              class="footer__list-item"
          /></a>
        </li>
        <li>
          <a href="https://github.com/nofishtou/">
            <img
              src="https://avatars.githubusercontent.com/nofishtou"
              alt="github avatar"
              class="footer__list-item"
            /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__logo-wrapper">
    <a href="https://rs.school/"> <img src="../../../../assets/rs_school_js.svg" class="footer__logo" alt="logo" /></a>
  </div>
  <div class="footer__year-text">Group 2021q1. Made in 2021</div>
</div>
