.footer__wrapper {
  height: 40px;
  background-color: lighten(white, 10%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-base {
  width: 40px;
  visibility: hidden;
}

.footer__logo {
  height: 25px;
}

.footer__team {
  display: flex;
  align-items: center;
}

.footer__list-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;

}

.footer__list {
  display: flex;
}

.footer__year-text {
  margin-left: 5px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 5px;
}

@media screen and (max-width: 450px) {
  .footer__year-text {
    display: none;
  }

  .footer__team-text {
    display: none;
  }
}
